<h1>Dashboard</h1>
<div class="row">
  <div class="col">
    <h2><%= I18n.t('warnings.name') %></h2>
    <ul>
      <% @club.members.with_warnings.each do |m| %>
        <li>
          <%= link_to m.full_name, edit_club_member_path(@club, m) %>: <br>
          <% if m.membership_status == 'warning' %>
            <%= I18n.t('warnings.membership') %>
            <br>
          <% end %>
          <% if m.medical_status == 'warning' %>
            <%= I18n.t('warnings.medical_certificate') %>
            <br>
          <% end %>
          <% if m.payments_status == 'warning' %>
            <%= I18n.t('warnings.payment') %>
            <br>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col">
    <h2><%= I18n.t('problems.name') %></h2>
    <ul>
      <% @club.members.with_errors.each do |m| %>
        <li>
          <%= link_to m.full_name, edit_club_member_path(@club, m) %>: <br>
          <% if m.membership_status == 'error' %>
            <%= I18n.t('problems.membership') %>
            <br>
          <% end %>
          <% if m.medical_status == 'error' %>
            <%= I18n.t('problems.medical_certificate') %>
            <br>
          <% end %>
          <% if m.payments_status == 'error' %>
            <%= I18n.t('problems.payment') %>
            <br>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>