<h2><%= I18n.t('groups.header') %></h2>
<div class="row">
  <ul class="nav justify-content-end">
    <li>
      <%= link_to I18n.t('groups.new'), new_club_group_path(@club), class: 'btn btn-primary' %>
    </li>
  </ul>
</div>
<%= paginate @groups %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('activerecord.attributes.group.name') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.group.default_amount') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.group.mandatory_medical_certificate') %></th>
      <th scope="col"><%= I18n.t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= number_to_currency(group.default_amount) %></td>
        <td><%= group.mandatory_medical_certificate %></td>
        <td>
          <%= link_to edit_club_group_path(@club, group), class: 'text-decoration-none' do %>
            <%= image_tag "edit.svg", aria: { hidden: true }, size: 24 %>
          <% end %>
          <%= link_to club_group_path(@club, group), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'text-decoration-none' do %>
            <%= image_tag "trash.svg", aria: { hidden: true }, size: 24 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>