<h2><%= I18n.t('users.header') %></h2>
<div class="row">
  <ul class="nav justify-content-end">
    <li>
      <%= link_to I18n.t('users.new'), new_club_user_path(@club), class: 'btn btn-primary' %>
    </li>
  </ul>
</div>
<%= paginate @users %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.first_name') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.last_name') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.email') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.role') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.blsd_expires_at') %></th>
      <th scope="col"><%= I18n.t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= User.human_attribute_name("role.#{user.role}") %></td>
        <td><%= user.blsd_expires_at %></td>
        <td>
          <%= link_to new_club_expense_path(@club, user), class: 'text-decoration-none' do %>
            <%= image_tag "cash.svg", aria: { hidden: true }, size: 24 %>
          <% end %>
          <%= link_to edit_club_user_path(@club, user), class: 'text-decoration-none' do %>
            <%= image_tag "edit.svg", aria: { hidden: true }, size: 24 %>
          <% end %>
          <%= link_to club_user_path(@club, user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'text-decoration-none' do %>
            <%= image_tag "trash.svg", aria: { hidden: true }, size: 24 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>