<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% @members.each do |member| %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="<%= member.first_name.parameterize  %>-tab" data-bs-toggle="tab" data-bs-target="#<%= member.first_name.parameterize  %>" type="button" role="tab" aria-controls="<%= member.first_name %>" aria-selected="true">
          <span class="dot-<%= member.status %>"></span>
          <%= member.first_name %>
        </button>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <% @members.each do |member| %>
      <div class="tab-pane fade show" id="<%= member.first_name.parameterize  %>" role="tabpanel" aria-labelledby="<%= member.first_name.parameterize  %>-tab">
        <%= render partial: 'dashboard', locals: { club: @club, member: member } %>
      </div>
    <% end %>
  </div>
</div>
