<%= month_calendar(events: @events) do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div class="row">
      <div class="col">
        <%= event.title %>
      </div>
      <div class="col">
        <%= link_to edit_club_event_path(@club, event, date:) do %>
          <%= image_tag "edit.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
        <% end %>
        <%= link_to club_event_presences_path(@club, event, date:) do %>
          <%= image_tag "card-checklist.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
