<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_url %>">Open GAS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <a href="<%= club_members_dashboard_path(@club) %>" class="nav-link text-secondary">
                <%= image_tag "dashboard.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
                <%= I18n.t('dashboard' )%>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= club_members_path(@club) %>" class="nav-link text-secondary">
                <%= image_tag "person.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
                <%= I18n.t('members.header' )%>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= club_tags_path(@club) %>" class="nav-link text-secondary">
                <%= image_tag "tags.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
                <%= I18n.t('tags.header' )%>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= club_groups_path(@club) %>" class="nav-link text-secondary">
                <%= image_tag "people.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
                <%= I18n.t('groups.header' )%>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= edit_club_path(@club) %>" class="nav-link text-secondary">
                <%= image_tag "house.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
                <%= I18n.t('clubs.header' )%>
              </a>
            </li>
          <% end %>
          <li class="nav-item">
            <a href="<%= club_events_url(@club) %>" class="nav-link text-secondary">
              <%= image_tag "calendar.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
              <%= I18n.t('calendar' )%>
            </a>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag "cash.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
                <%= I18n.t('finance_header') %>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="<%= club_payments_url(@club) %>"><%= I18n.t('payments.header') %></a></li>
                <li><a class="dropdown-item" href="<%= club_payment_reasons_url(@club) %>"><%= I18n.t('payment_reasons.header') %></a></li>
                <li><a class="dropdown-item" href="<%= club_expenses_url(@club) %>"><%= I18n.t('expenses.header') %></a></li>
                <li><a class="dropdown-item" href="<%= club_expense_reasons_url(@club) %>"><%= I18n.t('expense_reasons.header') %></a></li>
              </ul>
            </li>
          <% end %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <a href="<%= club_users_url(@club) %>" class="nav-link text-secondary">
                <%= image_tag "collaborator.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
                <%= I18n.t('users.header' )%>
              </a>
            </li>
          <% end %>
          <li class="nav-item">
            <a href="<%= edit_user_registration_url %>" class="nav-link text-secondary">
              <%= image_tag "profile.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
              <%= I18n.t('profile' )%>
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= destroy_user_session_url %>" class="nav-link text-secondary">
              <%= image_tag "door.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
              <%= I18n.t('sign_out' )%>
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="<%= user_session_url %>" class="nav-link text-secondary">
              <%= image_tag "unlock.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
              <%= I18n.t('log_in' )%>
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= new_user_registration_url %>" class="nav-link text-secondary">
              <%= image_tag "door.svg", aria: { hidden: true }, size: 24, class: "bi d-block mx-auto mb-1" %>
              <%= I18n.t('sign_up' )%>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
