<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Open GAS" %></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/app-icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="fullscreen lightbox">
    <header>
      <%= render partial: 'header' %>
    </header>
    <%= render 'flash' %>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer id="footer">
    </footer>
  </body>
</html>
