<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Open GAS" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.png" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>
  <%= content_tag :body, data: { action: action_name, controller: controller_name, path: request.path, controller: "toggle" } do %>
    <header>
      <%= render 'header' %>
    </header>
    <%= render 'flash' %>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'footer' %>
  <% end %>
</html>
