<div class="row">
  <ul class="nav justify-content-end">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= @group&.name || 'Select group' %>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'None', club_members_path(@club, tag_id: @tag&.id), class: 'dropdown-item' %>
        </li>
        <% @club.groups.each do |group| %>
          <li>
            <%= link_to group.name, club_members_path(@club, group_id: group.id, tag_id: @tag&.id), class: 'dropdown-item' %>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= @tag&.name || 'Select tag' %>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'None', club_members_path(@club, group_id: @group&.id), class: 'dropdown-item' %>
        </li>
        <% @club.tags.each do |tag| %>
          <li>
            <%= link_to tag.name, club_members_path(@club, group_id: @group&.id, tag_id: tag.id), class: 'dropdown-item' %>
          </li>
        <% end %>
      </ul>
      <li>
        <%= link_to I18n.t('members.new'), new_club_member_path(@club), class: 'btn btn-primary' %>
      </li>
    </li>
  </ul>
</div>
<%= paginate @members %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('activerecord.attributes.member.first_name') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.member.last_name') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.member.groups') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.member.tags') %></th>
      <th scope="col"><%= I18n.t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.groups.map(&:name).join(', ') %></td>
        <td><%= member.tags.map(&:name).join(', ') %></td>
        <td>
          <%= link_to edit_club_member_path(@club, member) do %>
            <%= image_tag "edit.svg", aria: { hidden: true }, size: 24 %>
          <% end %>
          <%= link_to club_member_path(@club, member), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
            <%= image_tag "trash.svg", aria: { hidden: true }, size: 24 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>